.App__wrapper {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-areas: 'App__header App__header'
                        'App__nav App__content'
                        'App__footer App__footer';
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 20% 1fr;
}

.App__header {
  grid-area: App__header;
  border: 1px solid black;
}
.App__nav {
  grid-area: App__nav;
  border: 1px solid black;
}
.App__content{
  grid-area: App__content;
  border: 1px solid black;
  padding: 10px;
}
.App__footer{
  grid-area: App__footer;
  border: 1px solid black;
}



